{% load static %}

<!-- hearth_shop/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}HEARTH SHOP{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'shop/js/main.js' %}" defer></script>
</head>
<body>
    <header>
        <h1>Hearth Shop</h1>
        {% include 'includes/navbar.html' %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
    <div id="image-modal" style="display:none;" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <img src="" alt="" id="modal-image">
        <h3 id="modal-title"></h3>
        <form method="post" action="{% url 'add_to_cart' %}">
          {% csrf_token %}
          <input type="hidden" name="product_id" id="modal-product-id">
          <button type="submit">Add to Cart</button>
        </form>
      </div>
    </div>
    <footer>
        <p>&copy; 2025 HEARTH Shop</p>
    </footer>
</body>
</html>
                                        