




.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
  gap: 1rem;
}

.thumbnail img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  pointer-events: none; /* helps prevent right-click */
}

img {
  pointer-events: none;
  user-select: none;
}