{% extends 'base.html' %}
{% load i18n %}
<!-- Illustrations gallery -->
{% block title %}{% trans "Welcome to HEARTH Shop" %}{% endblock %}

{% block content %}

  <h1>{{ category|title }}{% trans "ILLUSTRATION" %}</h1>

  <div class="gallery-grid">
    {% for print in page_obj %}
      <div class="thumbnail">
        <a href="#" 
           data-image="{{ print.image.url }}" 
           data-id="{{ print.id }}" 
           data-title="{{ print.title }}">
          <img src="{{ print.image.url }}" alt="{{ print.title }}" loading="lazy">
        </a>
      </div>
    {% empty %}
      <p>{% trans "No prints found." %}</p>
    {% endfor %}
  </div>

  {% block pagination %}
    {% include "shop/_pagination.html" %}
  {% endblock %}
{% endblock %}


