<head>
    {% load static %}
    {% load i18n %}
    <meta charset="UTF-8">
</head>

<!-- includes/navbar.html -->
<nav>
  <ul class="nav_links">
    <li><a href="{% url 'homepage' %}" class="nav_btn">{% trans "HOME" %}</a></li>
    <li><a href="{% url 'illustration_gallery' %}" class="nav_btn">{% trans "ILLUSTRATIONS" %}</a></li>
    <li><a href="{% url 'photography_gallery' %}" class="nav_btn">{% trans "PHOTOGRAPHY" %}</a></li>

    <!-- Conditional links based on user-admin -->
      {% if user.is_staff %}
        <li><a href="{% url 'upload_print' %}" class="nav_btn">{% trans "Upload" %}</a></li>
      {% else %}
        <li>
          <a href="{% url 'cart_view' %}" class="nav_btn">
            🛒{% trans "Cart" %} ({{ cart_count }}) — {{ cart_total }}{{ currency }}
          </a>
        </li>
      {% endif %}

      <!-- Logout button for all logged-in users -->
      {% if user.is_authenticated %}
      <li>
        
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="nav_btn">
            {% trans "Logout" %}
          </button>
        </form>
      </li>
    {% else %}
      <li><a href="{% url 'login' %}" class="nav_btn">{% trans "Login" %}</a></li>
      <li><a href="{% url 'signup' %}" class="nav_btn">{% trans "Sign Up" %}</a></li>
{% endif %}
    </ul>
  <!-- Theme filter -->
  <form method="get" action="{% url 'theme_filter' %}">
    <select name="theme">
      {% for theme in themes %}
        <option value="{{ theme.slug }}">{{ theme.name }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="nav_btn">{% trans "THEME" %}</button>
  </form>
</nav>
